  <!-- Footer start -->

  <footer id="footer">
    <div class="container">
      <div class="row">

        <div class="col-sm-12">

          <ul class="social-links">
            <li><a href="https://www.facebook.com/joshua.g.mausolf" class="wow fadeInUp"><i class="fa fa-facebook"></i></a></li>
            <li><a href="https://twitter.com/csvitaexcolatur" class="wow fadeInUp" data-wow-delay=".1s"><i class="fa fa-twitter"></i></a></li>
            <li><a href="https://github.com/jmausolf" class="wow fadeInUp" data-wow-delay=".5s"><i class="fa fa-github"></i></a></li>
                        <li><a href="https://www.linkedin.com/pub/joshua-mausolf/23/43a/258" class="wow fadeInUp" data-wow-delay=".5s"><i class="fa fa-linkedin-square"></i></a></li>
                        <li><a href="https://chicago.academia.edu/JoshuaMausolf" class="wow fadeInUp" data-wow-delay=".5s"><i class="fa fa-plus-square"></i></a></li>
                        <li><a href="mailto:jmausolf@uchicago.edu" class="wow fadeInUp" data-wow-delay=".5s"><i class="fa fa-envelope"></i></a></li>
                        <li><a href="https://mail.google.com/mail/?view=cm&fs=1&to=jmausolf@uchicago.edu" class="wow fadeInUp" data-wow-delay=".5s"><i class="fa fa-google"></i></a></li>
          </ul>

          <p class="copyright">
                        © 2015 Joshua Mausolf
          </p>

        </div>

      </div><!-- .row -->
    </div><!-- .container -->
  </footer>

  <!-- Footer end -->
