<head>
  <title>Data Science for Social Good fellowship - University of Chicago</title>

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta property="og:title" content="Data Science for Social Good - University of Chicago - Eric & Wendy Schmidt"/>
<meta property="og:image" content="http://dssg.io/img/logo-fb-og.png"/>
<meta property="og:site_name" content="Data Science for Social Good"/>
<meta property="og:description" content="The Eric & Wendy Schmidt Data Science for Social Good fellowship is a University of Chicago summer program for aspiring data scientists to work on data mining, machine learning, big data, and data science projects with social impact."/>


  <!-- Typekit and Google web fonts -->
  <script type="text/javascript">
  (function() {
    var config = {
      kitId: 'nun2axp',
      scriptTimeout: 3000
    };
    var h=document.getElementsByTagName("html")[0];h.className+=" wf-loading";var t=setTimeout(function(){h.className=h.className.replace(/(\s|^)wf-loading(\s|$)/g," ");h.className+=" wf-inactive"},config.scriptTimeout);var tk=document.createElement("script"),d=false;tk.src='//use.typekit.net/'+config.kitId+'.js';tk.type="text/javascript";tk.async="true";tk.onload=tk.onreadystatechange=function(){var a=this.readyState;if(d||a&&a!="complete"&&a!="loaded")return;d=true;clearTimeout(t);try{Typekit.load(config)}catch(b){}};var s=document.getElementsByTagName("script")[0];s.parentNode.insertBefore(tk,s)
    })();
  </script>

  <!-- Boostrap -->
  <link href="/assets/css/bootstrap.min.css" rel="stylesheet">
  <link href="/assets/css/bootstrap-responsive.min.css" rel="stylesheet">

  <!-- Custom styles -->
  <link href="/assets/css/flat-ui.css" rel="stylesheet">
  <link href="/assets/css/site.css" rel="stylesheet">

  <script src="assets/js/modernizr.custom.js"></script>

  <!-- Icons -->
  <link rel="icon" type="image/png" href="/img/favicon.png">
  <link href="/img/icons/social-icons/ss-social-circle.css" rel="stylesheet" />

  <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
  <!--[if lt IE 9]>
    <script src="js/html5shiv.js"></script>
  <![endif]-->

  <!-- Google Analytics -->
  <script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-39324393-1']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
  </script>
    
</head>
