---
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Joshua G. Mausolf is a Ph.D. student and quantitative social scientist in the Department of Sociology at the University of Chicago.">
    <meta name="keywords" content="Joshua G. Mausolf, Joshua Mausolf, University of Chicago, Department of Sociology, Sociologists, Researchers, Computational Social Science, Computational Sociology, @Joshua_Mausolf, @jmausolf">
    <meta name="author" content="Joshua G. Mausolf">
    <meta name="twitter:title" content="Joshua G. Mausolf - Data Scientist">
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@Joshua_Mausolf">
    <meta property="og:title" content="Joshua Mausolf - Data Scientist"/>
    <meta property="og:image" content="https://d3qi0qp55mx5f5.cloudfront.net/www/i/misc/maroon-shield.png">
    <meta property="og:site_name" content="Joshua Mausolf - University of Chicago"/>
    <meta name="google-site-verification" content="bZzggcxdb06kzSBJr1305bpoA_tn_LeBaDoUi9Jm2cU" />

    <title>Joshua Mausolf - Data Scientist</title>

    <!-- CSS -->
    <link href="assets/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="assets/css/font-awesome.min.css" rel="stylesheet" media="screen">
    <link href="assets/css/simple-line-icons.css" rel="stylesheet" media="screen">
    <link href="assets/css/animate.css" rel="stylesheet">

    <!-- Custom styles CSS -->
    <link href="assets/css/style.css" rel="stylesheet" media="screen">

    <script src="assets/js/modernizr.custom.js"></script>

  </head>


  <body>

  	<!-- Navbar -->

  	<!-- Content -->
  	{{ content }}
  	{% include footer.html %}

  <!-- Javascript files -->

  <script src="assets/js/jquery-1.11.1.min.js"></script>
  <script src="assets/bootstrap/js/bootstrap.min.js"></script>
  <script src="assets/js/jquery.parallax-1.1.3.js"></script>
  <script src="assets/js/imagesloaded.pkgd.js"></script>
  <script src="assets/js/jquery.sticky.js"></script>
  <script src="assets/js/smoothscroll.js"></script>
  <script src="assets/js/wow.min.js"></script>
    <script src="assets/js/jquery.easypiechart.js"></script>
    <script src="assets/js/waypoints.min.js"></script>
    <script src="assets/js/jquery.cbpQTRotator.js"></script>
  <script src="assets/js/custom.js"></script>

  </body>
</html>
