---
layout: default
---
<div id="navbar-padding">

<!-- Post pic -->
<!-- Check if post has pic, display it in parallax box if so. -->
{% if page.pic %}
<div id="post-pic" style="background-image:url(/img/posts/{{ page.pic }});">
</div>
{% endif %}

<!-- Post container -->
<article id="post" class="container">
	<div class="row">

		<!-- Photo caption and credit -->
		{% if page.pic-credit %}
			<br>
			{% if page.pic-caption %}
				{{ page.pic-caption }}
			{% endif %}
			<i>
				Photo by 
				<a href="http://www.flickr.com/photos/{{ page.pic-credit }}">{{ page.pic-credit }}</a>
			</i>
		{% endif %}

		<!-- Post title and date -->
		<div class="span8 offset2">

			<div class='page-header'>
				<h1 class="post-title page-title">
					<a href="{{ page.url }}">{{ page.title }}</a>
				</h1> 
			</div>
		</div>

		<!-- Post content -->
		<div class="span12">
    		{{ content }}
    	</div>
    </div>
</article>

